<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.cktext_area :body, :ckeditor => {:language => "pt-br", :toolbar => "mini"} %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= collection_select(:post, :category_id, Category.all, :id, :nome) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
