<div class="post">
  <% if user_signed_in? %>
    <%= link_to 'Editar post', edit_post_path(post), :class => "btn" %>
  <% end %>
  <h3><%= post.titulo %></h3>

  <% if post.category %>
    <div class="categoria"><p>Categoria: <%= post.category.nome %></p></div>
  <% end %>

  <div class="body">
    <%= post.body.html_safe %>  
  </div>
  <p></p>
</div>