<h3>Posts</h3>

<table class="table table-striped">
  <tr>
    <th>Titulo</th>
    <th>Categoria</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr id="post-<%= post.id %>">
    <td><%= post.titulo %></td>
    <td><%= post.category.nome %></td>
    <td>
      <%= show_item_url post %>
      <%= edit_item_url edit_post_path(post) %>
      <%= delete_item_url post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo post', new_post_path, :class => "btn" %>
