<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @post.titulo %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body.html_safe %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category.nome %>
</p>


<%= link_to 'Edit', edit_post_path(@post), :class => "btn" %> |
<%= link_to 'Back', posts_path, :class => "btn" %>
