<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Blog</a>
        <ul class="nav">
          <li class="active"><a href="<%= root_url %>">Início</a></li>
          <% if user_signed_in? %>
          <li><%= link_to "Posts",  posts_url %></li>
          <li><%= link_to "Categorias",  categories_url %></li>
          <li><%= link_to "Sair", sign_out_url %></li>          
          <% else %>
            <li><%= link_to "Acessar", sign_in_url %></li>
          <% end %>
        </ul>
      </div>
    </div>
</div>
<div class="container">
    <div id="posts" class="span8">
        <%= yield %>
    </div>
    
    <div id="caterias" class="span4">
        
    </div>
</div>

</body>
</html>
