<h1>Listing categories</h1>

<table class="table table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr id="cat-<%= category.id %>">
    <td><%= category.nome %></td>
    <td>
      <%= show_item_url category %>
      <%= edit_item_url edit_category_path(category) %>
      <%= delete_item_url category %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova categoria', new_category_path, :class => "btn" %>
