<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @category.nome %>
</p>

<p>
  <b>Slug:</b>
  <%= @category.slug %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
